body
{
    font: 100 95% helvetica,san-serif;

    display: flex;
    flex-direction: column;
}
a
{
    text-decoration: none;
    color: #37464f;
    border-bottom: 1px dashed #494949;
}
p
{
    margin-bottom: 1em;
}
ul
{
    margin-left: 1.5em;
    margin-bottom: 1em;
    list-style-type: disc;
}
pre
{
    font-family: monospace;
    font-size: 1.05em;
    margin-bottom: 1em;
    background: #eee;
    padding: 0.5em;
    overflow: auto;
}