body
{
    font: 100 95% helvetica,san-serif;

    display: flex;
    flex-direction: column;
}
a
{
    text-decoration: none;
    color: #37464f;
    border-bottom: 1px dashed #494949;
}
p
{
    margin-bottom: 1em;
}
ul
{
    margin-left: 1.5em;
    margin-bottom: 1em;
    list-style-type: disc;
}
pre
{
    font-family: monospace;
    font-size: 1.05em;
    margin-bottom: 1em;
    background: #eee;
    padding: 0.5em;
    overflow: auto;
}
blockquote
{
    font-style: italic;
    border-left: 3px solid #999;
    padding-left: 0.5em;
    margin-bottom: 1em;
}

table
{
    width: 100%;
    margin-bottom: 1em;
}
th
{
    text-align: left;
    font-size: 1.2em;
    padding: 0.25rem;
}
td
{
    padding: 0.25rem;
}
td.subtitle
{
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
}

code 
{
    font-family: monospace;
}