.main_header
{
    background: #37474f;
    color: #fff;

    box-sizing: content-box;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
}


.main_header_title
{
    font-size: 1.9em;
}
.main_header_title a
{
    color: #fff;
}


.main_header_etc
{
    display: flex;
    flex-direction: row;
}
.main_header_etc_strapline
{
    font-size: 0.9em;
    color: #b0bec5;
    flex: 1;
}

.main_header_etc_nav
{
    display: flex;
    flex-direction: row;
    flex: 0;
}
.main_header_etc_nav a
{
    color: #fff;
}

/* Social icons */
.main_header_social_icon
{
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.main_header_etc_nav_pages
{
    display: flex;
    flex-direction: row;
}

.main_header_etc_nav_social
{
    display: flex;
    flex-direction: row;
}

.main_header_etc_nav_pages ul, .main_header_etc_nav_social ul
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main_header_etc_nav_pages li, .main_header_etc_nav_social li
{
    margin-left: 1em;
}